
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table>
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Imagen</td>
    </tr>
    @foreach (var prod in ViewBag.productitos)
    {
        <tr>
            <td>@prod.id</td>
            <td>@prod.nombre</td>
            <td>@prod.precio</td>
            <td>@prod.imagen</td>
        </tr>
    }

</table>
<a asp-action="Otro" asp-controller="Calse11">AGREGAR NUEVO</a>