
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table border="1">
    <tr>
        <td>ID</td>
        <td>@ViewBag.prod.id</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>@ViewBag.prod.nombre</td>
    </tr>
    <tr>
        <td>Precio</td>
        <td>@ViewBag.prod.precio</td>
    </tr>
    <tr>
        <td>Imagen</td>
        <td><img src="~/imagenes/@ViewBag.prod.imagen" width="200"/></td>
    </tr>
</table>