
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table border="1">
    <tr>
        <td>ID</td>
        <td>@ViewBag.est.id</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>@ViewBag.est.nombre</td>
    </tr>
    <tr>
        <td>Fecha de nacimiento</td>
        <td>@ViewBag.est.fechaNac.ToString("dd/MM/yyyy")</td>
    </tr>
</table>