
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>
    El tema visto era sobre el envío de información desde una vista hacia un controlador, esto mediante un formulario.
</p>
<p>
    Para esto hacemos uso de un formulario (vease la vista Index de Clase4)
</p>
<p>
    Simplemente agregamos los tag-helpers asp-controller y asp-action
</p>
<form asp-controller="Clase4" asp-action="Recibe" method="post">
    <table>

    </table>
</form>