@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <a asp-action="Ejemplo1" asp-controller="Clase9">Principal</a>
    <a asp-action="Ejemplo2" asp-controller="Clase9">Acerca de</a>
    <a asp-action="Ejemplo3" asp-controller="Clase9">Contactos</a>

    <br />
    <br />
    @RenderBody()
    <br />
    EDUCOMSER 2021
</body>
</html>