@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nuestro resumen del Curso</h1>
    <center>
        <a asp-controller="Clase1" asp-action="Index">Clase 1: Conociendo el entorno</a><br />
        <a asp-controller="Clase2" asp-action="Index">Clase 2: Controladores</a><br />
        <a asp-controller="Clase3" asp-action="Index">Clase 3: Envío de datos a la vista</a><br />
        <a asp-controller="Clase4" asp-action="Index">Clase 4: Envío de datos de la vista al controlador</a><br />
        <a asp-controller="Clase5" asp-action="Index">Clase 5: Envío de archivo al servidor</a><br />
        <hr />
        <a asp-controller="Clase6" asp-action="Index">Clase 6: Validación en fomularios</a><br />
        <a asp-controller="Clase7" asp-action="Index">Clase 7: Ejemplo de uso de AJAX </a><br />
        <a asp-controller="Clase8" asp-action="Index">Clase 8: Uso de sesiones</a><br />
        <a asp-controller="Clase9" asp-action="Index">Clase 9: Uso de sesiones 2</a><br />
        <a asp-controller="Clase10" asp-action="Index">Clase 10: Conectandonos con una Base de Datos SQLServer y PostgreSQL</a><br />
        <hr />
        <a asp-controller="Clase11" asp-action="Index">Clase 11: </a><br />
        <a asp-controller="Clase12" asp-action="Index">Clase 12: </a><br />
        <a asp-controller="Clase13" asp-action="Index">Clase 13: </a><br />
        <a asp-controller="Clase14" asp-action="Index">Clase 14: </a><br />
    </center>
</div>
