@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nuestro resumen del Curso</h1>
    <center>
        <a asp-controller="Clase1" asp-action="Index">Clase 1</a><br />
        <a asp-controller="Clase2" asp-action="Index">Clase 2</a><br />
        <a asp-controller="Clase3" asp-action="Index">Clase 3</a><br />
        <a asp-controller="Clase4" asp-action="Index">Clase 4</a><br />
        <a asp-controller="Clase5" asp-action="Index">Clase 5</a><br />
        <hr />
        <a asp-controller="Clase6" asp-action="Index">Clase 6</a><br />
        <a asp-controller="Clase7" asp-action="Index">Clase 7</a><br />
        <a asp-controller="Clase8" asp-action="Index">Clase 8</a><br />
        <a asp-controller="Clase9" asp-action="Index">Clase 9</a><br />
        <a asp-controller="Clase10" asp-action="Index">Clase 10</a><br />
    </center>
</div>
