
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ 
    Layout = "~/Views/Shared/MiPropioLayout.cshtml";
}

<h2>Esta es la página principal del ejemplo de la clase 9.</h2>