
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Http

<h3>Hola @Context.Session.GetString("usuario")</h3>
<p>Esta es la muestra de tener una sesion activa, pero necesitamos terminarla en algun momento.</p>

<p>Para terminar con un asesion simplemente lo haremos mediante un método acción para ello.</p>

<p>Sin más rodeos, salgase de la sesión clickeando acá: <a asp-action="Logout" asp-controller="Clase9">LOGOUT</a></p>