
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>El uso de TagHelpers personalizados</p>

<p>A continuación ponemo el tagHelper < Ejemplo1/></p>

<ejemplo1/>

<ejemplo2/>