
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Curso_ASP.NET_core.Models.Cuenta

<form asp-controller="Clase6" asp-action="Respuesta" method="post">
    <table>
        <tr>
            <td>Nombre:</td>
            <td>
                <input asp-for="nombre"/>
            </td>
            <td>
                <span asp-validation-for="nombre"></span>
            </td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input type="password" asp-for="password" /></td>
            <td>
                <span asp-validation-for="password"></span>
            </td>
        </tr>
        <tr>
            <td>Edad:</td>
            <td>
                <input asp-for="edad" />
            </td>
            <td>
                <span asp-validation-for="edad"></span>
            </td>
        </tr>
        <tr>
            <td>eMail:</td>
            <td><input asp-for="correo" /></td>
            <td>
                <span asp-validation-for="correo"></span>
            </td>
        </tr>
        <tr>
            <td>Pagina web:</td>
            <td><input asp-for="pagina"/></td>

            <td>
                <span asp-validation-for="pagina"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="REGISTRAR"/>
            </td>
        </tr>
    </table>
</form>
